@using CV_Site_MVC.Models
@model CvViewModel

<h1>CV finns här typ. #fuckuni </h1>

<h2>Utbildning: @Model.Cv.Utbildning</h2>
<h2>ID: @Model.UserID</h2>

<a asp-controller="CV" asp-action="Edit" asp-route-id="@Model.Cv.ID">Ändra uppgifter</a>

