@model CV

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-controller="CV" asp-action="Edit" method="post" class="register-form" novalidate>
	<label>Förnamn: </label><br />
	<input asp-for="FirstName" type="text"/><br />
	<label>Efternamn: </label><br />
	<input asp-for="LastName" type="text"/><br />
	<label>Email: </label><br />
	<input asp-for="Email" type="text"/><br />
	<label>Telefonnummer: </label><br />
	<input asp-for="Phone" type="text"/><br />
	<input type="submit" value="Spara ändringar" class="submit" />
</form>