@model CV

<form asp-controller="CV" asp-action="NewCV" method="post">
	Utbildning:<br />
	<input asp-for="Utbildning" type="text"/>
	<input type="submit" value="Spara ändringar" class="submit" />
</form>