@model CV

<h1>@Model.Utbildning</h1>

<form asp-controller="CV" asp-action="Edit" method="post">
	Utbildning:<br />
	<input asp-for="Utbildning" type="text"/>
	<input type="submit" value="Spara ändringar" class="submit" />
</form>