@model User

<h1>Välkommen @User.Identity.Name</h1>

@*<form method="post" asp-controller="Account" asp-action="LogOut">
	<AuthorizeView>
		<Authorized>
			<h2> You are logged in as @User.Identity.Name</h2>
			<input type="submit" value="Log out" />
		</Authorized>
	</AuthorizeView>
</form>*@

<div>
	<a asp-controller="Account" asp-action="Edit">Ändra din profil</a>
</div>
<div>
	<a asp-controller="Project" asp-action="Project">Starta ett projekt</a>
</div>

